/********** Template CSS **********/
:root {
  --primary: #fc0303;
  --secondary: #eddd5e;
  --light: #f7f7f7;
  --dark: #404a3d;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 500 !important;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  transition: 0.5s;
  font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
  color: var(--light);
}

.btn-secondary,
.btn-outline-secondary:hover {
  color: var(--dark);
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

/*** Navbar ***/
.navbar.sticky-top {
  top: -100px;
  transition: 0.5s;
}

.navbar .navbar-nav .nav-link {
  /* margin-right: 35px; */
  padding: 25px 0;
  color: var(--dark);
  font-size: 18px;
  font-weight: 500;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  /*color: var(--primary);*/
}

/* Default DOWN arrow */
.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  /* down arrow icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;

  display: inline-block;
  transform: rotate(0deg);
  /* default down */
  transition: transform 0.35s ease, color 0.25s ease;
}

/* On hover → rotate 180deg UP (same arrow) */
/* Hover → arrow up */
.navbar .dropdown:hover>.dropdown-toggle::after {
  transform: rotate(180deg);
  color: #4a63e7 !important;
}

/* Active → arrow stays up */
.navbar .dropdown>.nav-link.active::after,
.navbar .dropdown .dropdown-toggle.active::after {
  transform: rotate(180deg);
  color: #4a63e7 !important;
}


.navbar .dropdown-toggle {
  cursor: pointer;
}





@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar .navbar-nav {
    border-top: 1px solid #eeeeee;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100% !important;
    /* transition: 0.5s; */
    opacity: 1;
  }
}

/*** Header ***/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: var(--primary);
  border: 10px solid var(--primary);

  /* MUST REMOVE BOOTSTRAP DEFAULT ICON */
  background-image: none !important;
}

/* MOBILE FIX */




@media (max-width: 768px) {
  #header-carousel .carousel-item {
    position: relative;
    min-height: 450px;
  }

  #header-carousel .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.page-header {
  background: url(https://hkmdehradun.org/assets/krishna.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
  color: var(--light);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
  font-size: 18px;
  color: var(--light);
}

/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
}

.section-title::before {
  position: absolute;
  content: "";
  width: calc(100% + 80px);
  height: 2px;
  top: 5px;
  left: -40px;
  background: var(--primary);
  z-index: -1;
}

.section-title::after {
  /* overflow: hidden; */
  position: absolute;
  content: "";
  width: calc(100% + 112px);
  height: 2px;
  bottom: 6px;
  left: -60px;
  background: var(--primary);
  z-index: -1;
}

.section-title.text-start::before {
  width: calc(100% + 40px);
  left: 0;
}

.section-title.text-start::after {
  width: calc(100% + 60px);
  left: 0;
}

/*** About ***/
.about-experience {
  position: absolute;
  width: 100%;
  height: 100%;
  right: -45px;
  bottom: -45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*** Service ***/
.service-item {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
}

.service-item .service-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  overflow: hidden;
  z-index: -1;
}

.service-item .service-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  object-fit: cover;
  border-radius: 10px;
}

.service-item .service-img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 1;
}

.service-item .service-img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  transition: 0.5s ease-out;
  z-index: 2;
}

.service-item:hover .service-img::after {
  width: 0;
  left: auto;
  right: 0;
}

.service-item .service-text .service-icon {
  width: 140px;
  height: 140px;
  padding: 15px;
  margin-top: -70px;
  margin-bottom: 40px;
  background: #ffffff;
  border-radius: 140px;
  overflow: hidden;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
}

.service-item .service-text h5,
.service-item .service-text p {
  transition: 0.5s;
}

.service-item:hover .service-text h5,
.service-item:hover .service-text p {
  color: #ffffff;
}

.service-item .service-text .btn {
  color: var(--secondary);
  background: #ffffff;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.25);
}

.service-item .service-text .btn:hover {
  color: var(--dark);
  background: var(--secondary);
}

/*** Product ***/
.product-item {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
}

.product-item .product-overlay {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  padding-top: 60px;
  transition: 0.5s;
}

.product-item:hover .product-overlay {
  opacity: 1;
  padding-top: 0;
}

/*** Team ***/
.team-item {
  position: relative;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
}

.team-item .btn {
  border-color: transparent;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
}

/*** Testimonial ***/
.testimonial-img {
  position: relative;
  min-height: 400px;
}

.testimonial-img::after {
  position: absolute;
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 200px;
  color: #eeeeee;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.testimonial-img img {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.testimonial-img img:nth-child(1) {
  top: 0;
  left: 0;
}

.testimonial-img img:nth-child(2) {
  top: 60%;
  left: 20%;
}

.testimonial-img img:nth-child(3) {
  top: 20%;
  left: 60%;
}

.testimonial-img img:nth-child(4) {
  bottom: 0;
  right: 0;
}

.testimonial-img img .animated.pulse {
  animation-duration: 2s;
}

.testimonial-carousel .owl-item img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.testimonial-carousel .owl-nav {
  margin-top: 30px;
  display: flex;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  margin-right: 15px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
  border-radius: 45px;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.2);
  font-size: 22px;
  transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  background: var(--secondary);
  color: var(--dark);
}

/*** Footer ***/
.footer {
  color: #b0b9ae;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #b0b9ae;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--light);
  letter-spacing: 1px;
  box-shadow: none;
}

.isvkpage-header {
  background: url('../gita-cart.webp');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.5);
  height: 300px;
}

.progm-para {
  font-size: 17px;
  line-height: 1.7;
  color: black;
  font-family: 'Atlassian Sans';
}

.blurBtn {
  background: #08466b;
  color: #fff !important;
  border: none;
}

.blurBtn:disabled {
  background: #08466b !important;
}

.bg-gradient {
  background: #fff !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.ph-1,
.ph-2 {
  line-height: 1.6em !important;
}

.ph-1 {
  font-size: 1.8em !important;
  font-family: 'Atlassian Sans';
  color: black;
}

.ud-form-group label {
  color: #132c4a;
  display: block;
  font-size: .98em;
  font-weight: 400;
}

.ud-form-group input,
.ud-form-group select,
.ud-form-group textarea {
  border: 1px solid rgba(19, 44, 74, .1);
  border-radius: 2px;
  display: block;
  outline: none;
  padding: 8px 10px;
  resize: none;
  width: 100%;
}

.ud-form-group {
  margin-bottom: 1.4em;
}

.bt-0 {
  font-size: 1.12em !important;
  line-height: 2em;
  margin-bottom: 0;
  color: #000 !important;
}

.text-dark.bt-0 {
  color: #000 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.bt-1 {
  color: #021021;
  font-size: 1em !important;
  line-height: 1.8em;
  margin-bottom: 0;
}

.btn-hkm {
  background: #132c4a;
  color: #fff;
  border-radius: 1px;
}

.gap-2 {
  gap: .5rem !important;
}

.hstack,
.vstack {
  align-self: stretch;
  display: flex;
}

.hstack {
  align-items: center;
  flex-direction: row;
}

.ud-border {
  border: 1px solid rgba(19, 44, 74, .1) !important;
}

.bt-1_5 {
  font-size: .9em !important;
  line-height: 1.86em;
  padding: 5px 0;
}

.bg-white {
  --bs-bg-opacity: 1;
  background-color: #fff !important;
}

.bg-hkm {
  background-color: #132c4a !important;
  color: #fff !important;
}

.ud-border.ud-selected {
  border: 1px solid rgba(19, 44, 74, .8) !important;
  background-color: #eee8dd !important;
}

.tksvg {
  display: none;
}

.form-error {
  color: red;
  font-size: 15px;
}